@charset "UTF-8";
#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#main .wiue_bgr {
  height: 60vh;
  width: 100%;
  position: relative;
}
#main .wiue_bgr img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(4px);
}
#main .main_box_content {
  height: 40vh;
  display: flex;
  justify-content: center;
  z-index: 11;
}
#main .main_box_content .uwyef {
  width: 50vw;
  position: relative;
}
#main .main_box_content .uwyef .box_contents {
  position: absolute;
  top: -100px;
  display: flex;
}
#main .main_box_content .uwyef .box_contents .char_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#main .main_box_content .uwyef .box_contents .char_box:hover {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(172deg, #ff00f8 0%, #71c4ff 100%);
  box-shadow: rgba(252, 21, 117, 0.916) 0px 5px 15px;
  transition: all 0.3s;
}
#main .main_box_content .uwyef .box_contents .char_box img.img_for_char {
  width: 200px;
  border-radius: 50%;
  border: 7px double rgb(255, 0, 230);
}
#main .main_box_content .uwyef .box_contents .char_box .name_char {
  margin: 10px auto;
}
#main .main_box_content .uwyef .box_contents .char_box .more_infor {
  display: flex;
  align-items: center;
}
#main .main_box_content .uwyef .box_contents .char_box .more_infor .uwey, #main .main_box_content .uwyef .box_contents .char_box .more_infor .weyq {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(241, 178, 53);
}
#main .main_box_content .uwyef .box_contents .char_box .more_infor .uwey {
  margin-right: 7px;
}
#main .main_box_content .uwyef .box_contents .box_heart {
  display: flex;
  justify-content: center;
}
#main .main_box_content .uwyef .box_contents .box_heart .heart {
  --xy: 300px;
  width: var(--xy);
  height: var(--xy);
  position: relative;
  animation: heartbeat 1s infinite;
}
#main .update_status {
  position: fixed;
  z-index: 99;
  top: 20px;
  left: 40px;
  display: flex;
  animation: slide 2s infinite alternate;
}
#main .update_status img {
  width: 200px;
}
@keyframes slide {
  0% {
    transform: translateY(0); /* Ảnh bắt đầu từ vị trí ban đầu */
  }
  100% {
    transform: translateY(calc(30% - 40px)); /* Ảnh dịch chuyển đến phần cuối container, với 300px bị ẩn bên ngoài */
  }
}
#main .update_status .wefui {
  margin-top: 20px;
  width: 300px;
  height: 140px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
}
#main .update_status .wefui .wieh_contents {
  display: flex;
  flex-direction: column;
  position: relative;
}
#main .update_status .wefui .wieh_contents .title_status {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
#main .update_status .wefui .wieh_contents::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(168, 144, 144);
  transform: rotate(-90deg);
  margin: 10px 0;
}/*# sourceMappingURL=main.css.map */