#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    .wiue_bgr {
        height: 60vh;
        width: 100%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(4px);
        }
    }
    .main_box_content {
        height: 40vh;
        display: flex;
        justify-content: center;
        // background-size: 100% 100%;
        // background-position: 0px 0px;
        // background-image: linear-gradient(90deg, #FF00F8FF 0%, #71C4FFFF 100%);
        z-index: 11;

        .uwyef {
            width: 50vw;
            position: relative;

            .box_contents {
                position: absolute;
                top: -100px;
                display: flex;
    
                .char_box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 20px;
                    background-color: aliceblue;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                    img.img_for_char {
                        width: 200px;
                        border-radius: 50%;
                        border: 7px double #ff00e6;
                    }

                    .more_infor {
                        display: flex;
                    }

                    &:hover {
                        background-size: 100% 100%;
                        background-position: 0px 0px;
                        background-image: linear-gradient(172deg, #FF00F8FF 0%, #71C4FFFF 100%);
                        transform: scale(1.1);
                        transition: all 0.3s;
                    }
                }
                .box_heart {
                    display: flex;
                    justify-content: center;
    
                    .heart {
                        --xy: 300px;
                        width: var(--xy);
                        height:  var(--xy);
                        position: relative;
                        animation: heartbeat 1s infinite;
                    }
                }
            }

        }

    }
}