#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    .wiue_bgr {
        height: 60vh;
        width: 100%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(1px);
        }

        
    }

    .main_box_content {
        height: 40vh;
        display: flex;
        justify-content: center;
        // background-size: 100% 100%;
        // background-position: 0px 0px;
        // background-image: linear-gradient(90deg, #FF00F8FF 0%, #71C4FFFF 100%);
        z-index: 11;

        .uwyef {
            width: 50vw;
            position: relative;

            .box_contents {
                position: absolute;
                top: -100px;
                display: flex;
    
                .char_box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 20px;
                    background-color: aliceblue;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    
                    &:hover {
                        background-size: 100% 100%;
                        background-position: 0px 0px;
                        background-image: linear-gradient(172deg, #FF00F8FF 0%, #71C4FFFF 100%);
                        box-shadow: rgba(252, 21, 117, 0.916) 0px 5px 15px;
                        // transform: scale(1.1);
                        transition: all 0.3s;
                    }

                    img.img_for_char {
                        width: 200px;
                        border-radius: 50%;
                        border: 7px double rgb(255, 0, 230);
                    }

                    .name_char {
                        margin: 10px auto;
                    }

                    .more_infor {
                        display: flex;
                        align-items: center;

                        // span {

                        // }
                        .uwey, .weyq {
                            display: flex;
                            align-items: center;
                            height: 30px;
                            padding: 5px 10px;
                            border-radius: 5px;
                            background-color: rgb(241, 178, 53);
                        }
                        .uwey {
                            margin-right: 7px;
                        }
                    }


                }
                .box_heart {
                    display: flex;
                    justify-content: center;
    
                    .heart {
                        --xy: 300px;
                        width: var(--xy);
                        height:  var(--xy);
                        position: relative;
                        animation: heartbeat 1s infinite;
                    }
                }
            }

        }

    }

    .update_status {
        position: fixed;
        z-index: 99;
        top: 20px;
        left: 40px;
        display: flex;
        animation: slide 2s infinite alternate;;

        img {
            width: 200px;
            // height: 50px;
            // border-radius: 50%;
            // border: 3px solid #fff;
            // box-shadow: 0px 0px 10px 0px #000;
        }
        @keyframes slide {
            0% {
              transform: translateY(0); /* Ảnh bắt đầu từ vị trí ban đầu */
            }
            100% {
              transform: translateY(calc(30% - 40px)); /* Ảnh dịch chuyển đến phần cuối container, với 300px bị ẩn bên ngoài */
            }
        }
        .wefui {
            margin-top: 20px;
            width: 300px;
            height: 140px;
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #000;

            .wieh_contents {
                display: flex;
                flex-direction: column;
                position: relative;

                .title_status {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }
            .wieh_contents::after {
                content: '';
                position: absolute;
                top: -2px;
                left: -40px;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid rgb(168, 144, 144);
                transform: rotate(-90deg);
                // background-color: #000;
                margin: 10px 0;
            }
        }
    }
}