* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tinos', serif;
}

html ::-webkit-scrollbar {
    width: 0px;
}
html ::-webkit-scrollbar:hover {
    width: 0px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
ul, li {
    list-style: none;
}
.active {
    display: flex !important;
}
.hidden {
    display: none !important;
    opacity: 0;
    transition: opacity 0.5s ease; 
}


#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wiue_bgr {
    height: 57vh;
    width: 100%;
    position: relative;
}

img.bgr_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px);
}

.qywhd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 10px;
    border-radius: 10px;
    border: 5px double rgba(0, 0, 0, 0.416);
    width: 550px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.snbe {
    /* background-color: antiquewhite; */
    height: 100%;
    border-radius: 10px;
    border: 2px solid black;
    --xy: 100%;
    width: var(--xy);
    height: 100%;
    display: flex;
    overflow-y: scroll;
    align-content: flex-start;
    flex-wrap: wrap;
}

.wieuf_time_count {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(90deg, #EF00FFFF 0%, #71C4FFFF 100%);
    animation: slide_ 20s infinite alternate;
}
@keyframes slide_ {
    0% {
        transform: translateY(0); /* Ảnh dịch chuyển đến phần cuối container, với 300px bị ẩn bên ngoài */
    }
    33% {
        transform: translateY(-120px); 
    }
    66% {
        transform: translateY(-240px); 
    }
    100% {
        transform: translateY(0); /* Ảnh bắt đầu từ vị trí ban đầu */
    }
}

.wieuf_time_count img {
    width: 200px;
}

.banner_ {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.total_days {
    font-size: 40px;
    /* margin-top: 5px; */
}
.total_days2 {
    display: none;
}

.ymdw_time ul {
    display: flex;
}

.ymdw_time ul li {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    background-color: azure;
    padding: 5px;
    border-radius: 6px;
    --xy: 80px;
    height: var(--xy);
    width: var(--xy);
    border: 1px solid black;
}
.iweui {
    font-size: 24px;
}
.day_start span {
    font-size: 30px;
}
.icon_banner {
    position: absolute;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: aliceblue;
}

.icon_banner:hover {
    background-color: aquamarine;
    transform: scale(1.05);
    transition: all 0.3s;
    z-index: 100;
}

.icon_left {
    left: -30px;
}
.icon_right {
    right: -30px;
}


.main_box_content {
    height: 43vh;
    display: flex;
    justify-content: center;
    z-index: 11;
}
.uwyef {
    display: flex;
    justify-content: center;
    width: 50vw;
    position: relative;
}
.box_contents {
    display: flex;
    justify-content: center;
}

.char_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 280px;
    
}
.char_box:hover {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(172deg, #FF00F8FF 0%, #71C4FFFF 100%);
    box-shadow: rgba(252, 21, 117, 0.916) 0px 5px 15px;
    transition: all 0.3s;
}

img.img_for_char {
    width: 180px;
    border-radius: 50%;
    border: 7px double rgb(255, 0, 230);
}

.name_char {
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
}

.more_infor {
    display: flex;
    align-items: center;
}

.uwey, .weyq {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(241, 178, 53);
}
.uwey {
    margin-right: 7px;
}

.box_heart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 300px; */
}
.heart {
    --xy: 300px;
    width: var(--xy);
    height:  var(--xy);
    position: relative;
    animation: heartbeat 1s infinite;
}
.real_time_ {
    height: 100px;
}

.update_status {
    position: fixed;
    z-index: 99;
    top: 20px;
    left: 40px;
    display: flex;
    animation: slide 2s infinite alternate;
}

@keyframes slide {
    0% {
      transform: translateY(0); /* Ảnh bắt đầu từ vị trí ban đầu */
    }
    100% {
      transform: translateY(calc(30% - 40px)); /* Ảnh dịch chuyển đến phần cuối container, với 300px bị ẩn bên ngoài */
    }
}

.update_status img {
    width: 200px;
    /* // height: 50px;
    // border-radius: 50%;
    // border: 3px solid #fff;
    // box-shadow: 0px 0px 10px 0px #000; */
}
.wefui {
    margin-top: 20px;
    width: 300px;
    height: 140px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
}

.wieh_contents {
    display: flex;
    flex-direction: column;
    position: relative;
}

.title_status {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.wieh_contents::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -40px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(168, 144, 144);
    transform: rotate(-90deg);
    /* // background-color: #000; */
    margin: 10px 0;
}




.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 120px;
    background-color: red;
    border-radius: 60px 60px 0 0;
    top: 50%;
    transform: translate(-50%);
}

.heart:before {
    left: 60px;
    transform: rotate(-45deg);
    transform-origin: 0 0;
}

.heart:after {
    transform: rotate(45deg);
    transform-origin: 100% 0;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.for_wave {
    position: absolute;
    bottom: -5px;
    width: 100%;
    z-index: 5;
}
.waves {
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}


.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    } 100% { 
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }

    .char_box, .char_box:hover {
        padding: 0;
        background-color: unset;
        box-shadow: unset;
    }

    img.img_for_char {
        width: 130px;
        border: 2px solid pink;
    }

    .heart {
        --xy: 100px;
        width: var(--xy);
        height:  var(--xy);
    }

    .heart:before,
    .heart:after {
        width: 40px;
        height: 60px;
    }

    .heart:before {
        left: 5px;
    }
}

@media (max-width: 610px) {
    img.img_for_char {
        width: 130px;
    }

    .qywhd {
        width: 100vw;
    }
}

@media (max-width: 561px) {
    .update_status {
        left: 0px;
    }
    .update_status img {
        width: 100px;
        height: 100px;
    }

    .wefui {
        width: 250px;
    }
}

@media (max-width: 535px) {
    .banner_ ul li {
        font-size: 13px;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 425px) {
    .wieuf_time_count {
        animation: none;
        background-size: 100% 100%;
        background-position: 0px 0px;
        background-image: linear-gradient(0deg, rgba(238, 0, 255, 0.59),  rgba(102, 249, 236, 0.552));
    }
    .total_days, .ymdw_time, .day_start {
        display: none;
    }
    .qywhd {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .more_infor {
        display: flex;
        flex-direction: column;
    }
    .snbe {
        border: unset;
        border-radius: 50%;
    }

    .total_days2 {
        display: block;
        height: 220px;
        display: flex;
    }

    .alert_totalday2 {
        font-size: 30px;
    }

    .uwey {
        margin-bottom: 4px;
    }
}

@media (max-width: 376px) {
    .char_box {
        font-size: 12px;
        height: 220px;
    }
    .box_heart {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 150px;
    }

    img.img_for_char {
        width: 80px;
    }

    .uwey, .weyq { 
        padding: 3px 5px;
    }
    .name_char {
        font-size: 14px;
    }
}
@media (max-width: 321px) {
    .wefui {
        width: 200px;
    }
}
